@model FST.ActivationWebApp.Models.ActivationKeyDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Activation key details</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Key)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivationDate)
        </dt>
        <dd class="col-sm-10" style="height: 24px">
            @Model.ActivationDate?.ToString("MM/dd/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Model.ActivationDate?.AddDays(Model.ExpirationDays).ToString("MM/dd/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpireAfter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpireAfter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MachineId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @switch (Model.State)
            {
                case ActivationKeyState.NotUsed:
                    <div class="text-secondary">Not used</div>
                    break;
                case ActivationKeyState.InUse:
                    <div class="text-success">In use</div>
                    break;
                case ActivationKeyState.Expired:
                    <div class="text-danger">Expired</div>
                    break;
                default:
                    break;
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-outline-secondary" asp-action="Index" asp-route-programToolId="@Model.ProgramToolId">Back to List</a>
</div>
