@model IndexActivationKeyViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Activation keys for tool "@Model.ProgramToolName"</h1>

<p>
    <a asp-action="Create" asp-route-programToolId="@Model.ProgramToolId">Create new</a> |
    <a asp-action="Index" asp-controller="ProgramTool">Back to program list</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivationKeys[0].Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivationKeys[0].CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivationKeys[0].ActivationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivationKeys[0].ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivationKeys[0].ExpirationDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivationKeys[0].ProgramUser.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivationKeys[0].ProgramUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivationKeys[0].ProgramUser.MachineId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ActivationKeys) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @item.CreateDate.ToString("MM/dd/yyyy")
            </td>
            <td>
                @item.ActivationDate?.ToString("MM/dd/yyyy")
            </td>
            <td>
                @item.ExpirationDate?.ToString("MM/dd/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramUser.MachineId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
