@using QRSharingApp.Common.Settings.Interfaces
@using QRSharingApp.WebApplication.Services
@inject IWebSetting WebSetting

@{
    var mainDivClass = Model is FilesGalleryViewModel ? "" : "container";
    var isFilesGalleryPage = Model is FilesGalleryViewModel;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QR Gallery App</title>
    @*<link href="~/lib/lightboxed/lightboxed.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/imask.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/lib/lightgallery/css/lightgallery.min.css" />
    <link rel="stylesheet" href="~/lib/lightgallery/css/lg-thumbnail.min.css" />
    <link rel="stylesheet" href="~/lib/lightgallery/css/lg-video.min.css" />

    <script src="~/lib/lightgallery/lightgallery.umd.js"></script>
    <script src="~/lib/lightgallery/plugins/thumbnail/lg-thumbnail.umd.js"></script>
    <script src="~/lib/lightgallery/plugins/video/lg-video.umd.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @*<script src="~/lib/lightboxed/lightboxed.js"></script>*@

    <style>
        body {
            background-image: url('@Url.Content($"~/{System.IO.Path.GetFileName(WebSetting.WebBackgroundImagePath)}")');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        
    </style>
</head>
<body>
    @if (isFilesGalleryPage)
    {
        <style>
            .qrcodebar {
              height: 100%;
              width: 210px;
              position: fixed;
              z-index: 1;
              top: 0;
              left: 0;
              overflow-x: hidden;
              padding-top: 20px;
              padding-left: 10px;
              padding-right: 10px;
            }

            @@media only screen and (max-width: 520px) {
              main {
                margin-left: 0px !important;
              }

              .qrcodebar {
                display: none;
              }
            }
        </style>
    }

    @if (WebSetting.ShowWifiQrCodeInWeb && isFilesGalleryPage)
    {
        <style>
            main {
              margin-left: 210px;
            }
        </style>
    }

    <div class="@mainDivClass">
        @if (WebSetting.ShowWifiQrCodeInWeb && isFilesGalleryPage)
        {
            <div class="qrcodebar">
                <div>
                    <h6 style="margin-bottom: 0px; text-align: center;">Gallery</h6>
                    <img src="@(((FilesGalleryViewModel)Model).GalleryUrlQRImageData)"/>
                </div>
                <div style="margin-top: 40px">
                    <h6 style="margin-bottom: 0px; text-align: center;">Gallery</h6>
                    <img src="@(((FilesGalleryViewModel)Model).GalleryUrlQRImageData)"/>
                </div>
            </div> 
        }

        <main>
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
