@using Microsoft.Extensions.Localization
@using QRSharingApp.Common.Settings.Interfaces
@using QRSharingApp.WebApplication.Controllers
@using QRSharingApp.WebApplication.Services
@inject IWebSetting WebSetting
@inject IStringLocalizer<FileController> Localizer

@{
    var mainDivClass = Model is FilesGalleryViewModel ? "" : "container";
    var isFilesGalleryPage = Model is FilesGalleryViewModel;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QR Gallery App</title>
    @*<link href="~/lib/lightboxed/lightboxed.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/imask.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/lib/lightgallery/css/lightgallery.min.css" />
    <link rel="stylesheet" href="~/lib/lightgallery/css/lg-thumbnail.min.css" />
    <link rel="stylesheet" href="~/lib/lightgallery/css/lg-video.min.css" />

    <script src="~/lib/lightgallery/lightgallery.umd.js"></script>
    <script src="~/lib/lightgallery/plugins/thumbnail/lg-thumbnail.umd.js"></script>
    <script src="~/lib/lightgallery/plugins/video/lg-video.umd.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @*<script src="~/lib/lightboxed/lightboxed.js"></script>*@

    <style>
        #bg {
          position: fixed; 
          top: -50%; 
          left: -50%; 
          width: 200%; 
          height: 200%;
        }
        #bg img {
          position: absolute; 
          top: 0; 
          left: 0; 
          right: 0; 
          bottom: 0; 
          margin: auto; 
          min-width: 50%;
          min-height: 50%;
        }
    </style>
</head>
<body style="position: relative">

    <div id="bg">
      <img src='@Url.Content($"~/{System.IO.Path.GetFileName(WebSetting.WebBackgroundImagePath)}")' alt="">
    </div>

    @if (isFilesGalleryPage)
    {
        <style>
            .qrcodebar {
              height: 100%;
              width: 210px;
              position: fixed;
              z-index: 1;
              top: 0;
              left: 0;
              overflow-x: hidden;
              padding-top: 20px;
              padding-left: 10px;
              padding-right: 10px;
            }

            @@media only screen and (max-width: 520px) {
              main {
                margin-left: 0px !important;
              }

              .qrcodebar {
                display: none;
              }
            }
        </style>
    }

    @if (isFilesGalleryPage && (WebSetting.ShowWifiQrCodeInWeb || WebSetting.ShowGalleryUrlQrCodeInWeb))
    {
        <style>
            main {
              margin-left: 210px;
            }
        </style>
    }

    <div style="position: sticky;">
        <div class="@mainDivClass">
            @if (isFilesGalleryPage && (WebSetting.ShowWifiQrCodeInWeb || WebSetting.ShowGalleryUrlQrCodeInWeb))
            {
                <div class="qrcodebar">
                    @if (WebSetting.ShowWifiQrCodeInWeb)
                    {
                        <div style="text-align-last: center">
                            <h6 style="margin-bottom: 0px; text-align: center;">@Localizer.GetString("ConnectToWifi")</h6>
                            <img style="width: 190px;" src="@(((FilesGalleryViewModel)Model).WifiQRImageData)"/>
                        </div>
                    }
                    @if (WebSetting.ShowGalleryUrlQrCodeInWeb)
                    {
                        <div style="margin-top: 20px; text-align-last: center">
                            <h6 style="margin-bottom: 0px; text-align: center;">@Localizer.GetString("Gallery")</h6>
                            <img style="width: 190px;" src="@(((FilesGalleryViewModel)Model).GalleryUrlQRImageData)"/>
                        </div>
                    }
                </div> 
            }

            <main>
                @RenderBody()
            </main>
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
