@using FST.WebApplication.Controllers
@model FilePreviewViewModel

@if (Model.IsPhoto)
{
    <h1>@Model.Name</h1>
    <img style="width:100%" src='@Model.Adress' />
}
else if (Model.IsVideo)
{
    <h1>@Model.Name</h1>
    <video style="width:100%" controls>
        <source src="@Model.Adress" type="video/mp4">
    </video>
}
else
{
    <h1>@Model.Name</h1>
    <h3>Sorry, not able to preview this format of file'</h3>
}

<div style="display: flex; align-content: center; justify-content: center; flex-direction: column;">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample" style="width:200px; margin:auto">
        Download form
    </button>

    <div class="collapse card" id="collapseExample" style="position: relative; margin-top: 10px;">
        <form id="download-file-form" class="was-validated card-body" onsubmit="OnDownloadFormSubmit(event)"
              method="get" action="@nameof(HomeController.SaveDownloadData)">
            @Html.HiddenFor(_ => _.Id)
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input id="name" name="name" type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" name="email" type="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone number</label>
                <input id="phone" name="phone" type="tel" class="form-control" placeholder="0981234567" pattern="[0-9]{10}" required>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Download file</button>
            </div>
        </form>
    </div>
</div>

<a id="download-file-link" class="btn btn-primary"
   href="@Model.Adress"download="@Model.Name" style="display:none">
    Download
</a>

<script type="text/JavaScript">
    function OnDownloadFormSubmit(e) {
        event.preventDefault();
        document.getElementById('download-file-link').click();

        var form = $('#download-file-form');
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(),
            context: this
        });
    }
</script>
