@using FST.WebApplication.Controllers
@using FST.Common.Services.Interfaces
@inject ISharedSettingService SharedSettingService
@model DownloadDataViewModel

<style>
    body {
        background-image: url('@Url.Content($"~/{System.IO.Path.GetFileName(SharedSettingService.WebBackgroundImagePath)}")');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="card text-center">
    <div class="card-header">
        Download file: @Model.Name
    </div>
    <div class="card-body">
        <div style="position: relative;">
            <form class="was-validated card-body" onsubmit="OnDownloadFormSubmit(event)"
                  method="post" action="/DownloadHistory/@nameof(DownloadHistoryController.Save)">
                @Html.HiddenFor(_ => _.Id)
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input id="name" name="name" type="text" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone number</label>
                    <input id="phone" name="phone" type="tel" class="form-control" pattern="^\+[0-9]{3}\((\d+)\)-\d{3}-\d{2}-\d{2}" required>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Download file</button>
                </div>
            </form>
        </div>
    </div>
</div>

<a id="download-file-link" class="btn btn-primary"
   href="@Model.PhysicalFileAdress" download="@Model.Name" style="display:none">
    Download
</a>

<script type="text/JavaScript">
    function OnDownloadFormSubmit(e) {
        document.getElementById('download-file-link').click();
    }

    (function () {
        var phoneMask = IMask(
            document.getElementById('phone'), {
                mask: '+{380}(00)-000-00-00',
                lazy: false,
        });
    })();
</script>