@using FST.WebApplication.Controllers
@model FilePreviewViewModel

@if (Model.IsPhoto)
{
    <h1>@Model.Name</h1>
    <img style="width:100%" src='@Model.Adress' />
}
else if (Model.IsVideo)
{
    <h1>@Model.Name</h1>
    <video style="width:100%" controls>
        <source src="@Model.Adress" type="video/mp4">
    </video>
}
else
{
    <h1>@Model.Name</h1>
    <h3>Sorry, not able to preview this format of file'</h3>
}

@if (Model.DownloadViaForm)
{
    <div style="display: flex; justify-content: center;">
        @Html.ActionLink("Download", nameof(FileController.Download), new { id = Model.Id }, new { @class = "btn btn-primary" })
    </div>
}
else
{
    <div style="display: flex; justify-content: center;">
        <a id="download-file-link" class="btn btn-primary" href="@Model.Adress" download="@Model.Name">
            Download
        </a>
    </div>
}